footer{
    background-color: #337ab7;
    color: #FFFFFF;
}

a{
    color:#FFFFFF;
}

a:hover{
    color: #000000;
}

i{
    color:#FFFFFF;
}

.text-muted{
    color: #FFFFFF;
}

.col-lg-12 h4{
    padding-left: 15% !important;
    padding-right: 15% !important;
}

h1{
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.list-inline i:hover{
    color: #000000;
}
